.tfoot{
    background-color: rgb(249,249,250);
    padding-left: 124vh;
    padding-top: 18px;
    padding-right: 29.2rem;
    padding-bottom: 18px;
    
}
th:hover{
    color: white;
    background-color:black;
}
td:hover{
    color: white;
    background-color:black;
}